.chartPaper {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 0.2rem;
}

.loaderBlock {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
